* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

body {
  background: black;
  color: #00ffcc;
}

/* TERMINAL */
#terminal {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.terminal-box p {
  opacity: 0;
  animation: reveal 0.6s forwards;
}

.terminal-box p:nth-child(1){animation-delay:.5s}
.terminal-box p:nth-child(2){animation-delay:1.3s}
.terminal-box p:nth-child(3){animation-delay:2.1s}
.terminal-box p:nth-child(4){animation-delay:3s}
.terminal-box p:nth-child(5){animation-delay:3.8s}

.success { color: #00ff00; }

@keyframes reveal { to { opacity: 1; } }

.hidden { display: none; }

/* MATRIX */
#matrix {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* HEADER */
header {
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 3rem;
}

header p {
  color: #0ff;
}

/* CARDS */
.card {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(0, 255, 204, 0.05);
  border: 1px solid #00ffcc;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 15px;
}

.card h3 {
  margin-top: 20px;
  color: #0ff;
}

.card span {
  font-size: 0.85rem;
  color: #aaa;
}

/* SKILLS */
.skill {
  margin-bottom: 15px;
}

.bar {
  background: #022;
  height: 12px;
  border-radius: 6px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #00ffcc, #00ff00);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  color: #0ff;
}
