:root {
  --bg: #000;
  --text: #00ffcc;
  --accent: #00ff00;
}

body.light {
  --bg: #f4f4f4;
  --text: #0f172a;
  --accent: #00aaff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* MATRIX */
#matrix {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* TOGGLE */
#themeToggle {
  position: fixed;
  top: 15px;
  right: 15px;
  background: var(--accent);
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* TERMINAL */
.terminal-section {
  padding: 60px;
}

.terminal {
  border: 1px solid var(--accent);
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.terminal-input {
  display: flex;
  margin-top: 10px;
}

.terminal-input input {
  background: transparent;
  border: none;
  color: var(--text);
  outline: none;
  flex: 1;
}

/* CONTENT */
.section {
  max-width: 900px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid var(--accent);
}

.bar {
  background: #022;
  height: 10px;
  margin: 10px 0;
}

.bar div {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, var(--accent), var(--text));
}

/* GLITCH */
.glitch {
  font-size: 3rem;
  position: relative;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
}
.glitch::before { color: var(--accent); }
.glitch::after { color: red; }

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(40px);
}
